.shop-details
{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    border-top: 1px solid lightgray;
    margin-left: 5%;
}
.footer-clm
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    padding-top: 5px;

}
.footer-txt
{
    color: beige;
    font-size: 15px;
}
.rating-clm
{
    display: flex;
    flex-direction: row;
     align-items: center;
    justify-content: center;
    gap: 5px;

}
.rating-img
{
    width: 20px;
    height: 20px;
    background-color: white;

}
@media (max-width: 768px) {
    .shop-details
    {
        gap: 10px;
        
        align-items: start;
    }
}
