body{
  min-height: 100vh;
  background-image: url("coffee-hero-bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0;
  color: white;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}

.main-section
{ 
    width: 100%;
    
}
.main-content
{   
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 5%;
    
}
.main-content h1{
    font-size: 50px;
}
.main-content h1 span{
    color: brown;
}
.main-content p{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}
.order-btn{
    width: fit-content;
    padding: 12px 30px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid black;
    transition: 0.3s ease;

     background-color: brown;
     color: white;
}
.order-btn:hover{
    animation: pulse 0.8s infinite;
   
}
.menu-link
{
    text-decoration: none;
}
.menu-btn
{
     width: fit-content;
    padding: 12px 30px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s ease;

    background-color: rgb(45, 45, 45);
    color: white;
    border: 1px solid white;
}
.menu-btn:hover{
     animation: pulse 0.8s infinite;
}
.home-btns
{
    display: flex;
    gap: 10px;
    align-items: center;

}

@media (max-width: 768px) {

    body {
        padding: 0 15px;
        align-items: flex-start;
        
        background-position: center;
        background-size: cover;
        min-height: 100vh;
        
    }

    .head-section {
        top: 0;
        margin-left: 0;
    }

    .nav-bar {
        display: none; /* hide nav on mobile */
    }

    .main-content {
        width: 50%;
        margin-left: 10;
        margin-top: 120px;
    }

    .main-content h1 {
        font-size: 32px;
    }

    .main-content p {
        font-size: 16px;
    }
 
    .order-btn, .menu-btn {
        width: 50%;
    }

     .nav-bar {
        position: absolute;
        top: 70px;
        right: 20px;
        background: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        width: 200px;
        padding: 20px;
        border-radius: 10px;
        display: none;
    }

    .nav-bar.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}